// Variable
$accent: #e52262;
$danger: #e54822;
$warning: #ffc000;
$success: #50c236;
$info: #0098df;

// General
* {
    border-radius: 0 !important;
}


// Jumbotron
.jumbotron {
    background: #f8f8f8 !important;
    padding: 2rem;
    margin-bottom: 10px;

    h1 {
        margin-bottom: 20px;
        font-weight: 600;
    }
}

// Navbar
.navbar {
    text-transform: uppercase;
    font-weight: 600;

    &.bg-primary {
        background-color: $accent !important;
    }
}

// Pager
.page-item {
    color: $accent;

    &:hover,
    &:focus {
        .page-link {
            color: darken($accent, 5);
        }
    }

    .page-link {
        color: $accent;
    }

    &.active {
        .page-link {
            background-color: $accent;
            border-color: $accent;
        }
    }
}

// Buttons
.btn {
    &.btn-primary {
        background-color: $accent;
        border-color: $accent;

        &:active,
        &:hover,
        &:focus,
        &:hover:focus {
            background-color: darken($accent, 5) !important;
            border-color: darken($accent, 5) !important;
        }
    }
    
    &.btn-success {
        background-color: $success;
        border-color: $success;

        &:active,
        &:hover,
        &:focus,
        &:hover:focus {
            background-color: darken($success, 5) !important;
            border-color: darken($success, 5) !important;
        }
    }
    
    &.btn-danger {
        background-color: $danger;
        border-color: $danger;

        &:active,
        &:hover,
        &:focus,
        &:hover:focus {
            background-color: darken($danger, 5) !important;
            border-color: darken($danger, 5) !important;
        }
    }
}

:not([disabled]):not(.disabled).btn-primary.active,
:not([disabled]):not(.disabled).btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    background-color: $accent;
    border-color: $accent;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $accent;
}

// Nav tabs
.sub-nav {
    border-bottom: none;
    margin: 20px 5px 0;
    padding: 0;
    
    .nav {
        flex: wrap;
        margin-bottom: -1px;

        .nav-link {
            padding: 10px 0 20px !important;
            margin: 0 0 0 17px;
            color: #666;
            font-weight: 500;
            font-size: 16px;
            
            &:first-child {
                margin-left: 0;
            }
            
            &.active {
                color: #000 !important;
                border-bottom: 3px solid $accent;
            }

            &:hover {
                color: #333 !important;
                border-bottom: 3px solid $accent;
            }
        }
    }
}

// Toolbar
.btn-toolbar {
    margin-bottom: 10px;
}