{% extends "::base.html.twig" %}

{% block title %}New report{% endblock %}

{% block body %}
    <h1>New report</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
