{% extends "::base.html.twig" %}

{% block title %}Location management{% endblock %}

{% block body %}
    <h1>Location management <span class="float-right"><a class="btn btn-primary" href="{{ path( 'location_add' ) }}">New location</a></span></h1>

    <table class="table table-responsive-md">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Options</th>
            <tr>
        </thead>
        <tbody>
            {% if locations %}
                {% for location in locations %}
                    <tr>
                        <td>{{location.getId()}}</td>
                        <td>{{location.getName()}}</td>
                        <td><a href="{{ path( 'location_edit', {'location': location.id} ) }}" class="btn btn-primary">Edit</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No locations found</td>
                </tr>			
            {% endif %}
        </tbody>
    </table>
{% endblock %}