{% extends "::base.html.twig" %}

{% block title %}AppBundle:Location:all{% endblock %}

{% block body %}
    <h1>Location management</h1>

    {% if locations %}
        <ul>
            {% for location in locations %}
                <li><a href="{{ path( 'location_edit', {'location': location.id} ) }}">{{location.name}}</a></li>				
            {% endfor %}
        </ul>
    {% else %}
        <p>No locations found</p>
    {% endif %}
{% endblock %}