{% extends "::base.html.twig" %}

{% block title %}New location{% endblock %}

{% block jumbotron %}
    <h1>New location</h1>
    <div class="sub-nav">
        <nav class="nav nav-inline">
            <a class="nav-link" href="{{ path( 'report_all' ) }}">Reports</a>
            <a class="nav-link" href="{{ path( 'status_all' ) }}">Statuses</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link" href="{{ path( 'technician_all' ) }}">Technicians</a>
                <a class="nav-link active" href="{{ path( 'location_all' ) }}">Locations</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}

{% block body %}
    <h2>Location has been saved</h2>
{% endblock %}
