<?xml version="1.0" encoding="UTF-8"?>  
<phpunit bootstrap="vendor/autoload.php">  
    <testsuites>
        <testsuite name="REST API Test Suite">
            <directory suffix=".php">./tests/</directory>
            <directory suffix=".php">./tests/model/</directory>
            <directory suffix=".php">./tests/model/dao/</directory>
            <directory suffix=".php">./tests/model/repositories/</directory>
        </testsuite>
    </testsuites>
</phpunit>  